.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #CDC1FF;
  padding: 1em;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */