body {
  height: 100%;
  margin: 0;
  font-family: 'Baumans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CDC1FF;
}
#background {
  width: 100vw;
  min-height: 100vh;
}
code {
  font-family: 'Baumans';
}